<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title th:text="#{customer_list_title}">Products</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
		
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />	
	<link href='https://fonts.googleapis.com/css?family=Exo' rel='stylesheet' type='text/css' />

  </head>

  <body>
  
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/" th:text="#{website}">Lambazon</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/customers" th:text="#{customer_list_title}">Customers</a></li>
      <li><a href="#">Orders</a></li>
      <li><a href="#">Specials</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</nav>

    
  <div class="container">
  <h1 th:text="#{customer_list_title}">Customers</h1>
    <table class="table">
      <tr>
        <th th:text="#{customer}">Customer</th>
        <th th:text="#{address}">Address</th>
        <th th:text="#{phoneNumber}">Phone Number</th>
      </tr>
      <tr th:each="cust : ${custs}">
        <td th:text="${cust.name}">Name</td>
        <td th:text="${cust.address}">Address</td>
        <td th:text="${cust.phoneNumber}">Phone Number</td>
      </tr>
    </table>
</div>
  </body>

</html>
